absl-py==2.1.0
altair==5.4.1
annotated-types==0.6.0
ansicon==1.89.0
anyio==4.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
blessed==1.20.0
blinker==1.8.2
cachetools==5.5.0
category-encoders==2.6.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmdstanpy==1.2.4
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
cramjam==2.8.3
cryptocompare==0.7.6
cycler==0.12.1
Cython==3.0.11
dacite==1.8.1
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dnspython==2.6.1
editor==1.6.6
email_validator==2.1.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
Faker==29.0.0
fastapi==0.110.0
fastjsonschema==2.19.1
fastparquet==2024.5.0
favicon==0.7.0
filelock==3.13.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.49.0
fqdn==1.5.1
frozendict==2.4.4
fsspec==2024.2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.9
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.66.1
h11==0.14.0
h5py==3.11.0
holidays==0.55
htbuilder==0.6.2
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
idna==3.6
ImageHash==4.3.1
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.4.4
inquirer==3.2.4
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jinxed==1.2.1
joblib==1.3.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kaleido==0.2.1
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
lightgbm==4.5.0
llvmlite==0.43.0
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.5.0
mpmath==1.3.0
multimethod==1.12
multitasking==0.0.11
namex==0.0.8
narwhals==1.8.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook_shim==0.2.4
np_utils==0.6.0
numba==0.60.0
numpy==1.26.4
opencv-python==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.5
overrides==7.7.0
packaging==23.2
pafy==0.5.5
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
peewee==3.17.6
pexpect==4.9.0
phik==0.12.4
pillow==10.2.0
platformdirs==4.2.2
plotly==5.24.1
plotly-resampler==0.10.0
pmdarima==2.0.4
prometheus_client==0.20.0
prompt_toolkit==3.0.46
prophet==1.1.5
proto-plus==1.24.0
protobuf==5.28.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycaret==3.3.2
pycparser==2.22
pydantic==2.7.4
pydantic-extra-types==2.8.2
pydantic-settings==2.3.3
pydantic_core==2.18.4
pydeck==0.9.1
pydobot==1.3.2
Pygments==2.17.2
pymdown-extensions==10.9
pyod==2.0.2
pyparsing==3.1.2
pypng==0.20220715.0
pyserial==3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==26.0.3
qrcode==7.4.2
qrdet==2.4
qreader==3.12
quadrilateral-fitter==1.8
readchar==4.0.5
referencing==0.35.1
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.1
rsa==4.9
runs==1.2.2
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==69.2.0
shapely==2.0.3
shellingham==1.5.4
six==1.16.0
sktime==0.26.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
stanio==0.5.1
starlette==0.36.3
statsmodels==0.14.2
streamlit==1.38.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.7
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
ta==0.11.0
tbats==1.1.3
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
torch==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
tsdownsample==0.1.3
typeguard==4.3.0
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
ultralytics==8.1.24
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.28.0
uvloop==0.19.0
validators==0.34.0
visions==0.7.6
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension==4.0.11
wordcloud==1.9.3
wrapt==1.16.0
wurlitzer==3.1.1
xgboost==2.1.1
xmod==1.8.1
xxhash==3.5.0
yaspin==3.0.1
ydata-profiling==4.9.0
yellowbrick==1.5
yfinance==0.2.43
youtube-dl==2020.12.2
zipp==3.20.2
